In [1]:
#use // in place of / and unzip files
#and while pasting path go to priya koppuravuri, then downloads and then write folder name as well
#this is sample program to see how to download dataset
# so refer to line 3 in this code

import pandas as pd
d=pd.read_csv("C:\\Users\\PRIYA KOPPURAVURI\\Downloads\\archive.zip")
df=pd.DataFrame(d)
print(d)

           Fp1        AF3         F3         F7        FC5       FC1  \
0     0.057813  -1.335266   4.640480   0.219573   7.473817  2.314842
1     1.367408  10.259654   3.345409   7.897852  -2.446051 -1.655035
2    -1.783132   4.133553  -0.951680  -1.624803  -1.827309 -2.280364
3    -3.690217  -0.814000   2.295469   0.901445   8.323679  1.127906
4     2.137114   6.420466   6.122230  10.015321   3.106394  3.183129
...        ...        ...        ...        ...        ...       ...
8059  2.371097   6.525279  -1.470521  -2.535683  -8.222570 -2.062185
8060  5.408372   7.813431  -5.203169 -13.254773 -18.839062 -1.866768
8061 -1.308237   1.166170  -3.158261  -9.249685  -7.438499  0.591557
8062 -2.095682   4.284166  -6.136204  -4.000436 -11.495979 -2.753036
8063  2.641319   3.967536 -11.562283 -18.074156 -26.700735 -5.975564

             C3         T7        CP5        CP1  ...        Cz        C4  \
0      1.918097  -9.257533   9.089943  -7.104519  ... -2.241480  1.415335
1     -6.301423  -7.290317  -3.546453  -5.705187  ... -2.568397 -5.651418
2     -2.279225   9.151344  -0.239575  -0.057604  ... -2.132823 -0.521117
3      6.356886  11.642082   9.354154  -1.662478  ... -0.506117 -1.154866
4      3.658535   4.571793   4.917712  -2.325940  ...  1.813907 -6.444635
...         ...        ...        ...        ...  ...       ...       ...
8059  -5.890198  11.508550 -14.298769   9.859735  ...  0.407407 -0.032451
8060  -8.164257  17.100103 -23.600410  27.898805  ...  3.976006  6.957139
8061  -1.791961  16.107009  -9.831608  17.049193  ...  3.080318  3.275846
8062  -7.090403   5.933243 -13.990339  11.807037  ...  0.583702 -1.521174
8063 -11.994061   3.563218 -24.599401  30.461931  ...  4.718537  5.649721

             T8        CP6        CP2         P4        P8        PO4  \
0      2.406646  12.864059   4.021099  -2.828598 -2.588735   2.637905
1     -0.096730  -4.930759  -1.722504  -6.111309  0.094893  -3.521353
2      8.605298  -4.499946  -3.232839  -4.249645 -3.687167  -7.383004
3     -3.940251   7.390881   2.129897  -0.794675 -1.959021   2.774530
4    -27.680880   0.641364   1.996658  -0.445779  2.614021   6.161845
...         ...        ...        ...        ...       ...        ...
8059  12.929205 -27.406610 -14.864499  -6.631102  7.509646 -25.823920
8060  11.972493 -52.080426 -29.577173 -11.663913  5.416705 -57.219852
8061 -22.535264 -26.538050 -15.409645  -4.558339  4.718691 -28.783795
8062 -12.615231 -26.169920 -16.098081  -6.099934  7.850973 -28.039497
8063   8.920055 -52.330345 -30.160978  -8.524680  9.549617 -58.936422

             O2  Unnamed: 32
0     -5.226618          NaN
1      1.887093          NaN
2     -4.489537          NaN
3     -6.323060          NaN
4      3.308816          NaN
...         ...          ...
8059  -3.558200          NaN
8060 -11.860173          NaN
8061  -3.566724          NaN
8062  -3.643652          NaN
8063 -10.919237          NaN

[8064 rows x 33 columns]

In [4]:
df.tail()

,Fp1,AF3,F3,F7,FC5,FC1,C3,T7,CP5,CP1,...,Cz,C4,T8,CP6,CP2,P4,P8,PO4,O2,Unnamed: 32
8059,2.371097,6.525279,-1.470521,-2.535683,-8.222570,-2.062185,-5.890198,11.508550,-14.298769,9.859735,...,0.407407,-0.032451,12.929205,-27.406610,-14.864499,-6.631102,7.509646,-25.823920,-3.558200,NaN
8060,5.408372,7.813431,-5.203169,-13.254773,-18.839062,-1.866768,-8.164257,17.100103,-23.600410,27.898805,...,3.976006,6.957139,11.972493,-52.080426,-29.577173,-11.663913,5.416705,-57.219852,-11.860173,NaN
8061,-1.308237,1.166170,-3.158261,-9.249685,-7.438499,0.591557,-1.791961,16.107009,-9.831608,17.049193,...,3.080318,3.275846,-22.535264,-26.538050,-15.409645,-4.558339,4.718691,-28.783795,-3.566724,NaN
8062,-2.095682,4.284166,-6.136204,-4.000436,-11.495979,-2.753036,-7.090403,5.933243,-13.990339,11.807037,...,0.583702,-1.521174,-12.615231,-26.169920,-16.098081,-6.099934,7.850973,-28.039497,-3.643652,NaN
8063,2.641319,3.967536,-11.562283,-18.074156,-26.700735,-5.975564,-11.994061,3.563218,-24.599401,30.461931,...,4.718537,5.649721,8.920055,-52.330345,-30.160978,-8.524680,9.549617,-58.936422,-10.919237,NaN

In [5]:
df.head()

,Fp1,AF3,F3,F7,FC5,FC1,C3,T7,CP5,CP1,...,Cz,C4,T8,CP6,CP2,P4,P8,PO4,O2,Unnamed: 32
0,0.057813,-1.335266,4.640480,0.219573,7.473817,2.314842,1.918097,-9.257533,9.089943,-7.104519,...,-2.241480,1.415335,2.406646,12.864059,4.021099,-2.828598,-2.588735,2.637905,-5.226618,NaN
1,1.367408,10.259654,3.345409,7.897852,-2.446051,-1.655035,-6.301423,-7.290317,-3.546453,-5.705187,...,-2.568397,-5.651418,-0.096730,-4.930759,-1.722504,-6.111309,0.094893,-3.521353,1.887093,NaN
2,-1.783132,4.133553,-0.951680,-1.624803,-1.827309,-2.280364,-2.279225,9.151344,-0.239575,-0.057604,...,-2.132823,-0.521117,8.605298,-4.499946,-3.232839,-4.249645,-3.687167,-7.383004,-4.489537,NaN
3,-3.690217,-0.814000,2.295469,0.901445,8.323679,1.127906,6.356886,11.642082,9.354154,-1.662478,...,-0.506117,-1.154866,-3.940251,7.390881,2.129897,-0.794675,-1.959021,2.774530,-6.323060,NaN
4,2.137114,6.420466,6.122230,10.015321,3.106394,3.183129,3.658535,4.571793,4.917712,-2.325940,...,1.813907,-6.444635,-27.680880,0.641364,1.996658,-0.445779,2.614021,6.161845,3.308816,NaN

In [7]:
df.sort_values("F3")

,Fp1,AF3,F3,F7,FC5,FC1,C3,T7,CP5,CP1,...,Cz,C4,T8,CP6,CP2,P4,P8,PO4,O2,Unnamed: 32
2250,-21.068011,-57.012749,-32.576432,-119.687503,-32.007169,5.603916,17.577424,-1.679679,-1.331248,86.087539,...,23.901393,61.904709,-28.973673,-54.754762,-27.753639,13.985466,-9.360993,-76.666060,-5.618416,NaN
2251,-8.524534,-36.742286,-27.208832,-95.622528,-32.642382,3.753727,9.531809,-8.582636,-11.781765,79.370184,...,18.895800,52.423332,-24.727157,-64.633624,-33.623748,5.826139,-6.719235,-84.693424,-9.751722,NaN
2249,-9.519723,-43.799022,-26.671284,-102.685970,-25.483330,4.849351,15.440490,1.281843,-3.863261,76.801955,...,20.577436,54.232452,-16.982194,-52.740147,-29.522873,8.766286,-8.892479,-74.956247,-10.132794,NaN
3427,-17.345678,-60.653790,-25.730169,-114.686318,-21.192093,7.772288,23.215844,-24.299533,13.608448,69.637029,...,19.380056,58.548561,-27.622587,-16.704460,-8.051520,21.509244,-13.536545,-38.164428,1.187358,NaN
7762,-14.092698,-42.178475,-25.368189,-84.230532,-26.577432,2.296732,9.654204,-15.781534,0.882531,60.086888,...,17.803774,44.429473,-7.944816,-23.778248,-10.285787,17.411360,1.511186,-40.275909,0.896119,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3365,-4.490307,44.077416,22.760554,84.263556,14.311628,0.254585,-14.289446,35.813282,-15.831301,-53.628230,...,-9.936050,-46.966178,20.622358,9.239488,10.700710,-16.767294,10.972169,30.222193,-2.066364,NaN
3364,-1.500248,25.863502,23.567665,59.918896,18.760284,6.524537,-3.234242,-15.379388,3.874613,-51.956622,...,-7.724821,-30.764629,27.409942,43.148856,25.822913,-6.851522,-4.595655,50.473451,2.216657,NaN
3891,-4.110184,9.330557,23.581986,55.909145,40.455289,10.964480,13.807088,-0.966294,36.131553,-53.500368,...,-6.119705,-29.317088,-13.851158,71.947452,43.377608,4.126512,-6.376295,81.516080,9.715262,NaN
2256,6.850358,47.600448,33.121360,120.164457,40.062538,-3.706243,-14.360872,1.350408,18.068729,-107.664139,...,-27.511152,-63.660644,30.470892,89.379733,49.047164,-6.712767,4.064744,110.799508,15.742456,NaN
2255,12.039691,42.700025,33.843385,114.552943,45.327135,-0.650903,-6.917169,-0.885088,23.301464,-101.187472,...,-25.119493,-58.176331,25.190588,90.294478,47.931268,-8.058554,-1.943837,105.621697,11.303151,NaN

In [9]:
df.sort_values("Fp1",ascending=False)

,Fp1,AF3,F3,F7,FC5,FC1,C3,T7,CP5,CP1,...,Cz,C4,T8,CP6,CP2,P4,P8,PO4,O2,Unnamed: 32
5538,18.633981,19.942486,3.557551,14.121968,0.221203,-2.210919,-8.314936,15.384990,-13.507648,-0.704908,...,-6.130061,-10.254016,10.140713,-22.478984,-18.107006,-13.113251,0.907788,-24.958529,-8.692784,NaN
5651,16.409194,65.064184,6.161689,56.984329,-34.046861,-13.583015,-44.723788,44.373765,-76.827314,-2.105628,...,-9.522631,-31.910981,67.019938,-97.772492,-63.818531,-43.250134,32.983364,-98.887575,-24.076287,NaN
7615,15.068088,37.501548,16.696335,58.059807,6.520648,-0.929564,-13.230315,12.194094,-17.982015,-36.308658,...,-9.950919,-27.616670,13.976092,0.583539,-2.666060,-13.382947,11.840243,9.040899,-1.303945,NaN
5650,14.780107,60.619391,5.903593,55.365962,-30.866367,-11.428891,-40.465509,44.484750,-70.282583,3.417970,...,-8.308342,-30.301407,60.031323,-96.471047,-61.467842,-41.031511,30.309051,-96.971757,-24.932121,NaN
159,14.212123,74.694777,-2.614953,42.401135,-60.633029,-14.458700,-52.842370,79.950177,-105.636572,37.676080,...,1.883146,-27.159825,49.476088,-173.746194,-103.927809,-54.948767,45.935877,-166.710255,-34.233683,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,-18.735390,-169.424029,1.078956,-114.474145,132.858828,34.849356,123.960426,-162.299501,233.924370,-56.746355,...,-2.202254,70.991231,-137.720305,350.917161,205.601778,120.665546,-107.039803,343.285346,79.038943,NaN
5288,-20.120083,-6.508459,-6.439437,0.183872,-2.621775,-5.348855,-2.499726,8.154383,1.269551,1.459454,...,-1.183126,-4.695847,-0.592727,-5.536729,0.369032,0.141089,4.980743,1.223096,6.440463,NaN
560,-20.160343,14.402231,20.781421,67.793898,30.647349,1.326447,1.868920,3.086930,24.267072,-65.679454,...,-15.448065,-36.223852,17.317190,75.966230,45.523211,8.482802,3.463260,88.653592,16.155316,NaN
496,-20.724728,-28.602015,-23.859017,-65.388853,-31.770313,0.632711,0.526361,14.540985,-15.342448,55.583766,...,15.675369,34.399581,17.948476,-49.100052,-28.582208,1.700417,8.420568,-66.573125,-13.474728,NaN
2250,-21.068011,-57.012749,-32.576432,-119.687503,-32.007169,5.603916,17.577424,-1.679679,-1.331248,86.087539,...,23.901393,61.904709,-28.973673,-54.754762,-27.753639,13.985466,-9.360993,-76.666060,-5.618416,NaN

In [12]:
df.sort_values("AF3",ascending=True)

,Fp1,AF3,F3,F7,FC5,FC1,C3,T7,CP5,CP1,...,Cz,C4,T8,CP6,CP2,P4,P8,PO4,O2,Unnamed: 32
166,-14.963288,-174.162043,5.351121,-117.254905,140.707711,38.094272,133.738083,-175.751521,247.950230,-59.674319,...,-4.752336,71.302678,-179.094185,366.740914,214.349394,126.611391,-105.250626,361.662396,84.408689,NaN
1218,-18.010208,-170.002719,4.424338,-112.361473,136.175591,38.313366,131.829777,-152.897297,237.723662,-60.219371,...,1.986028,73.879081,-175.711307,361.414059,212.553374,124.402863,-94.952006,350.526668,74.492703,NaN
167,-18.735390,-169.424029,1.078956,-114.474145,132.858828,34.849356,123.960426,-162.299501,233.924370,-56.746355,...,-2.202254,70.991231,-137.720305,350.917161,205.601778,120.665546,-107.039803,343.285346,79.038943,NaN
165,-16.114119,-160.419437,5.456199,-104.970631,125.963362,32.800087,120.761684,-157.711939,226.820266,-59.673217,...,-6.460624,60.789358,-152.693201,342.089923,198.161326,115.000221,-94.399289,334.279111,79.318124,NaN
1219,-18.340403,-154.077214,4.908342,-98.033398,120.016229,35.720450,114.854902,-160.069408,216.802523,-63.837899,...,-0.138477,59.460980,-132.516990,335.921387,196.186922,110.757764,-93.632348,330.414788,73.531123,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,6.081761,112.450095,-3.905937,77.435020,-91.924082,-25.301749,-88.668642,123.169544,-159.670636,38.002948,...,-0.602934,-50.480854,117.775768,-246.126814,-147.379108,-87.262924,71.217370,-242.925323,-55.432907,NaN
155,8.772525,113.828207,-6.645840,72.959688,-95.516772,-29.704726,-93.189754,118.616808,-169.456961,43.397580,...,1.606648,-37.542233,120.061151,-240.847897,-146.128309,-80.901045,80.202738,-249.206968,-61.072350,NaN
1207,1.773065,113.951063,-1.983016,92.652792,-82.809032,-27.265714,-86.050431,129.284111,-150.824376,26.819742,...,-2.898042,-55.478133,99.133589,-228.278590,-132.516886,-82.478922,72.220248,-216.677858,-48.578143,NaN
3939,10.582126,115.065197,-3.879818,84.023042,-84.429022,-27.066521,-88.463737,116.658412,-158.237331,30.755718,...,-4.771491,-49.691637,123.016396,-237.939394,-146.066781,-87.557417,73.882597,-236.329952,-55.540092,NaN
1208,3.703592,128.729493,-4.628019,93.944568,-103.768646,-31.009221,-102.940922,126.906041,-181.618505,35.911124,...,-0.794053,-57.141550,135.559389,-264.707312,-154.697176,-92.928548,86.421457,-257.126150,-56.501257,NaN